# Игнорировать файлы и папки сборки
   bin/
   obj/
   
   # Игнорировать файлы настроек VS
   *.suo
   *.user
   *.sln.DotSettings
   
   # Игнорировать временные и кэшированные файлы
   *.tmp
   *.log
   *.DS_Store
   
   # Игнорировать пакеты NuGet
   packages/
   *.nupkg
   *.snupkg
